
{% include "wagtailadmin/shared/header.html" with title="Infoga video" icon="no-view" %}
{% load wagtailadmin_tags  %}

{% block extra_js %}
<script src="{% versioned_static 'wagtailadmin/js/modal-workflow.js' %}"></script>

<script>
  $(document).ready(function() {
      const updateInsertButton = function() {
        $('#mf-insert').prop('disabled', selectedData.fileId <= 0); 
      }

      var myFileSelector;
      var selectedData = {
        mediaId : $('#{{ trigger }}-media_id').val(),
        folderId : $('#{{ trigger }}-folder_id').val(),
        fileId : $('#{{ trigger }}-file_id').val(),
        autoPlay : $('#{{ trigger }}-autoplay').is(':checked'),
        embedMethod : $('#{{ trigger }}-embed_method').val(),
        startOffset : $('#{{ trigger }}-start_offset').val(),
      }
      $('#mf-embed_method').val(selectedData.embedMethod);
      $('#mf-start_offset').val(selectedData.startOffset);
      $('#mf-autoplay').prop('checked', selectedData.autoPlay);
    
      
      $('#mf-insert').on('click', function() {        
        // update the parent form (hidden form fields)
        $('#{{ trigger }}-media_id').val(selectedData.mediaId);
        $('#{{ trigger }}-folder_id').val(selectedData.folderId);
        $('#{{ trigger }}-file_id').val(selectedData.fileId);
        $('#{{ trigger }}-autoplay').prop('checked', selectedData.autoPlay);
        $('#{{ trigger }}-embed_method').val(selectedData.embedMethod);
        $('#{{ trigger }}-start_offset').val(selectedData.startOffset);
        // force thumbnail update on parent form
        $('#{{ trigger }}-media_id').trigger('input'); 
      });
        
      $('#mf-options').on('change', function(ev) {        
        selectedData.embedMethod = $('#mf-embed_method').val();
        selectedData.startOffset = $('#mf-start_offset').val();
        selectedData.autoPlay = $('#mf-autoplay').is(':checked');
      });
          
      myFileSelector = new FileSelector('mf-fileselector', {
        auth: 'token',
        client_id: '8b62ca84',
        client_secret: 'rZpA0vP7oKOSJw3lZBX1e4EVElHsbQ',
        refresh_token: '{{ server_key }}',
        showDoneButton: false,
        limitFileType: 'mp4,mov,mpg,ts,avi,mts,mpeg,m4v',
        viewLayout: 'thumbnails',
        allowCrop: false,
        noCropButton:true,
        locale: 'sv-se',
        downloadFormat: 'original',
        selectedFile: selectedData.fileId,
        selectedFolder: selectedData.folderId,
                
        success: function(o) {
          
        },
        
        events: function(eventName, eventData) {
            if(eventName === 'fileClick') {                
              validOK = true;     
              selectedData.mediaId = eventData.mediaId;
              selectedData.title = eventData.name;
              selectedData.fileId = eventData.id;            
              if(eventData.isSearch === true) {
                selectedData.folderId = 0;
              }
              updateInsertButton();              
            }
            if(eventName === 'folderClick') {
              validOK = false;
              selectedData.mediaId = '';
              selectedData.fileId = 0;
              selectedData.folderId = eventData.id;            
              updateInsertButton();
            }
        }      
      });
      updateInsertButton();
    
  });
</script>
{% endblock %}


<form id="mf-options">
  <div class="nice-padding">
    
    <div class="w-field light">
      <label class="w-field__label">Select a video</label>
      <div class="w-field__wrapper" style="max-width:none" data-field-wrapper="">
        <div class="panel-body" id="mf-fileselector" style="height: 500px;position: relative">          
        </div>
      </div>
    </div>
    
    <div class="w-field" data-field="" data-contentpath="autoplay">
      <label class="w-field__label" for="mf-autoplay">Autoplay</label>
      <div class="w-field__wrapper" data-field-wrapper="">
        <div class="w-field__input" data-field-input="">
          <input type="checkbox" name="mf-autoplay" id="mf-autoplay"/>
        </div>        
      </div>
    </div>

    <div class="w-field" data-field="" data-contentpath="start_offset">
      <label class="w-field__label" for="mf-start_offset">Start offset</label>
      <div class="w-field__wrapper" data-field-wrapper="">
        <div class="w-field__input" data-field-input="">
          <input type="number" name="mf-start_offset" id="mf-start_offset">
        </div>    
      </div>
    </div>

    <div class="w-field" data-field="" data-contentpath="embed_method">
      <label class="w-field__label" for="mf-embed_method">Embed method</label>
      <div class="w-field__wrapper" data-field-wrapper="">
        <div class="w-field__input" data-field-input="">
          <select name="mf-embed_method" id="mf-embed_method">
            <option value="iframe">IFrame</option>
            <option selected value="js">Javascript</option>
          </select>
        </div>
      </div>
    </div>

    <div class="w-field" data-field="">
      <button data-dismiss="modal" id="mf-insert" disabled class="button action-save button-longrunning">Choose</button>
      <button data-dismiss="modal" id="mf-cancel" class="button cancel">Cancel</button>
    </div>

  </div>
</form>
